*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.center{
    width: 100%;
    height: 60px;
    background-color:rgb(14, 12, 97);
}

.center > img{
    padding: 15px;
}

.fundo{
    position: relative;
    background-image: url('../images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover; /*faz o background cobri toda a area*/
    background-position: center;
    width: 100%;
    height: 600px;
}


.form{
    position: absolute;
    top: 7%;
    left: 65%;
    background-color: white;
    width: 400px;
    height: 100%;
    border: solid rgb(198, 196, 196) 8px;
}

.form h2{
    padding: 10px;
    color: gray;
    position: center;
    
}


.form span{
    margin: 10px;
    display: inline-block;
    color: gray;
    width: 100%;
    font-weight: bold;
}

.form input[type=text]{
    margin-left: 10px;
    width: 300px;
    height: 55px;

}

.paragrafo{
    margin: 10px;
    color: gray;
    font-size: 20px;
}

.form .botao-enviar{
    text-align: center;
}

.botao-enviar input[type=submit]{
    width: 150px;
    height: 50px;
    display: inline-block;
    background-color:rgb(14, 12, 97);;
    color: white;
    cursor: pointer;
}

.retangulo-itens{
    position: absolute;
    margin-top: 40px;
    margin: 100px;
    background-color: rgba(14, 12, 97, 0.9);
    width: 560px;
    height: 300px;
}


.retangulo-itens li{
    margin: 20px;
    color: white;
    font-size: 20px;
}

.grupo {
    width: 100%;
    height: auto;
    padding: 20px 15px;
    background-color: rgb(220, 220, 220);
}

.grupo h2{
    text-align: center;
    padding: 5px;
    color: rgb(14, 12, 97);
}

.grupo p{
    margin-top: 10px;
    position: relative;
    left: 23.5%;
    text-align: center;
    font-size: 15px;
    color: rgb(14, 12, 97);
    width: 700px;
}

.arrow{
    position: relative;
    top: 40px;
    background-image: url(../images/arrow.png);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    left: 50%;
    margin-left: -20px;
    
}

.section{
    padding: 70px 0;
}

.section h2{
    text-align: center;
    color: rgb(14, 12, 97);
}

.container-section img{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-top: 80px;
    width: 70px;
    left: 27%;
}

.container-section p{
    display: inline-block;
    margin-top: 160px;
    position: relative;
    left: 18%;
    width: 200px;
    font-size: small;
    color:rgb(14, 12, 97);
   
}

.footer{
    border-top:solid 2px;
    border-color: rgb(150, 150, 150);
    width: 100%;
}

.footer p{
    padding: 10px;
    text-align: center;
    position: relative;
    color: rgb(120 , 120, 120);
}

